body {
  background-color: #e6e6e6;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  width: 250px;
  height: 58px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: auto;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: blue;
}

.frame1 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  grid-template-columns: 600px 600px; /* Δύο στήλες με πλάτος 600px η κάθε μία */
  height: 400px;
  width: 1200px;
}

.text {
  padding: 20px; /* Προσθήκη padding για καλύτερη αισθητική */
}

.text2 {
 padding-top:140px;
 padding-left:150px;
}


.text3 {
 padding-top:70px;
}

.text h1,
.text p {
  margin: 0; /* Αφαίρεση περιθωρίων γύρω από τον τίτλο και το κείμενο */
}

.image1 {
  width: 100%; /* Προσαρμόζει το πλάτος της εικόνας στο δεύτερο κελί */
  height: auto; /* Διατηρεί την αναλογία διαστάσεων της εικόνας */
}

.image23{
  width: 300px;
  height: 200px;
}

.frame2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.frame3 {
  display: flex;
  justify-content: center;
  margin: 0 auto; 
  height: 600px;
  width: 1200px;
  position: relative; /* Αλλάξτε τη θέση σε σχετική */
}

.frame3 iframe {
  width: 100%;
  height: 100%; /* Ή το επιθυμητό ύψος */
  position: absolute; /* Κάντε το iframe θέση απόλυτη */
  top: 0; /* Θέση στο πάνω μέρος του γονικού στοιχείου */
  left: 0; /* Θέση στο αριστερό μέρος του γονικού στοιχείου */
}
.frame {
    width: 1200px;
    height: 400px;
    border: 1px solid #000;
    display: flex;
}

.column {
    width: 300px;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

.column:last-child {
    border-right: none;
}

.row {
    height: 200px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}

.row:last-child {
    border-bottom: none;
}

footer {
  height: 100px; /* Ύψος 100px */
  width: 100%; /* Πλήρες πλάτος της σελίδας */
  
}